#contatosul {
	padding: 45px 0;
}

#contatosul,
.contatosLi {
	display: inline-block;
}

.contatosLi {
	position: relative;
}

.contatosLiDuvidas {
	padding-left: 70px;
	margin-right: 15px;
}

.contatosLi .tableCell {
	text-align: left;
	height: 58px;
}

.contatosLi .circulo {
	background: #FFF;
	border: none;
	color: #727272;
	font-size: 16px;
	width: 58px;
	height: 58px;
	line-height: 58px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

.contatosLi p span {
	color: #9f9f9f;
	display: block;
	line-height: 16px;
}

.contatosLiFone {
	padding-left: 205px;
}

.contatosLi .fone {
	display: block;
	font-size: 28px;
	position: absolute;
	top: 15px;
	left: 0;
	line-height: 1em;
	color: #fff;
}

#conteudoFaleConosco {
	margin: 0 auto;
	padding: 40px 185px 105px;
}

#formContato .formBloco {
	display: block;
	margin-bottom: 10px;
}

#formContato .relative {
	float: left;
	width: 49.4%;
	height: 48px;
	position: relative;
}

#formContato .relativeRight {
	float: right;
}

#formContato .label,
#formContato .input,
#formContato .textarea {
	color: #727272;
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
}

#formContato .label {
	position: absolute;
	top: 19px;
	left: 22px;
}

#formContato .input,
#formContato .textarea {
	background: none;
	border: 2px solid #e3e3e3;
	height: 48px;
	outline: none;
	width: 100%;
	padding: 0 20px;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

#formContato .formBlocoTextarea .relative {
	width: 100%;
	height: 160px;
}

#formContato .textarea {
	height: 160px;
	padding: 14px 20px;
	resize: none;
}

#formContato .formBlocoBt {
	margin: 0;
	margin-top: 20px;
}

#formContato .btForm,
#contatoResposta .message {
	border: 2px solid #727272;
	padding: 25px 0;
	margin: 0;
	line-height: 1em;
	color: #727272;
	display: block;
	text-transform: uppercase;
	width: 100%;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#formContato .btForm:hover {
	background: #727272;
	color: #FFF;
}

#formContato .btFormEnviando {
	display: none;
}

#formContato .btFormEnviando .iconeHolder {
	position: relative;
}

#formContato .btFormEnviando .icone {
	-moz-transition: all 0;
	-webkit-transition: all 0;
	-o-transition: all 0;
	transition: all 0;
	font-size: 20px;
	position: absolute;
	top: -3px;
	right: 10px;
	-webkit-animation: loader 1s infinite ease-in-out;
	-moz-animation: loader 1s infinite ease-in-out;
	-o-animation: loader 1s infinite ease-in-out;
	animation: loader 1s infinite ease-in-out;
}

@-webkit-keyframes loader {
	from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@-moz-keyframes loader {
	from { -moz-transform: rotate(0deg); transform: rotate(0deg); }
	to { -moz-transform: rotate(359deg); transform: rotate(359deg); }
}
@-o-keyframes loader {
	from { -o-transform: rotate(0deg); transform: rotate(0deg); }
	to { -o-transform: rotate(359deg); transform: rotate(359deg); }
}
@keyframes loader {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

#formContato .input.error,
#formContato .textarea.error {
	border-color: #ff0000;
}

#contatoResposta {
	position: relative;
	margin: 20px 0;
	height: 60px;
}

#contatoResposta .message {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#contatoResposta #erroContato {
	border-color: #ff0000;
}

#endereco {
	background: url('../img/logos/ibasa.png') no-repeat;
	display: inline-block;
	padding-left: 125px;
	min-height: 55px;
	text-align: left;
	margin-top: 30px;
}

#endereco .titulo,
#endereco .endereco {
	display: block;
	line-height: 15px;
}

#endereco .titulo {
	font-family: 'OpenSans-Semibold', sans-serif;
	font-size: 20px;
	padding-bottom: 10px;
}

#endereco .btMapa {
	border: 2px solid #727272;
	color: #727272;
	display: block;
	margin: 20px 0;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
}

#endereco .btMapa:hover {
	background: #727272;
	color: #FFF;
}

#endereco .fone,
#endereco .fone a {
	color: #727272;
}

#endereco .fone {
	font-family: 'OpenSans-Semibold', sans-serif;
	font-size: 22px;
}

#endereco .fone .icone {
	font-size: 14px;
}

#endereco .fone a span span {
	font-size: 14px;
}


@media only screen and (max-width: 1023px) {
	.contatosLiFone {
		display: block;
	}

	.contatosLiDuvidas {
		margin-right: 0;
		margin-bottom: 20px;
	}

	#conteudoFaleConosco {
		padding: 40px 55px 105px;
	}
}

@media only screen and (max-width: 767px) {
	.contatosLiDuvidas,
	.contatosLiFone {
		padding: 0;
		padding-top: 70px;
	}

	.contatosLiFone {
		padding-top: 10px;
	}

	.contatosLi .tableCell {
		text-align: center;
		height: auto;
	}

	.contatosLi .circulo {
		left: 50%;
		margin-left: -29px;
	}

	.contatosLi .fone {
		position: relative;
		top: 0;
		margin-bottom: 5px;
	}


	#conteudoFaleConosco {
		padding: 40px 0 105px;
	}

	#formContato .formBloco {
		margin-bottom: 0;
	}

	#formContato .relative {
		width: 100%;
		margin-bottom: 10px;
	}


	#endereco {
		background-position: top center;
		padding: 0;
		padding-top: 75px;
	}
}


/* ============
   RETINA
   ============ */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#endereco {
		background-image: url('../img/logos/ibasa_2x.png');
		background-size: 103px 54px;
	}
}
