/* ============
   BANNER
   ============ */
#sessaoBanner {
	background: #cd1c38;
	position: relative;
	margin-top: 33px;
}

#sessaoBanner .bg {
	background: #FFF;
	position: absolute;
	left: 0;
	right: 0;
	height: 12%;
}

#sessaoBanner .bg2 {
	background: #cd1c38;
	top: 12%;
	height: 76%;
}

#sessaoBanner .bg3 {
	bottom: 0;
}

#banner {
	position: relative;
}

#banner li {
	width: 100%;
	height: 100%;
}

.bannerImg {
	display: block;
	width: 100%;
}

#pagerBanner {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 20px;
	z-index: 100;
}

#pagerBanner span {
	background: none;
	border: 2px solid #FFF;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
	height: 12px;
	width: 12px;
	text-indent: -9999px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

#pagerBanner .cycle-pager-active {
	background: #cd1c38;
}



/* ============
   BLOCOS
   ============ */
#blocosUl {
	display: block;
	padding-bottom: 90px;
	font-size: 0;
}

.blocosLi {
	width: 33.3%;
	display: inline-block;
	margin-top: 75px;
	text-align: center;
	vertical-align: top;
}

.blocosLink {
	padding: 0 25px;
	max-width: 250px;
	display: block;
	margin: 0 auto;
}

.blocosLi .blocosImgHolder {
	display: block;
	position: relative;
	padding: 30% 0;
}

.blocosLi .blocosImg {
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.blocosLi_tratamento .blocosImgHolder {
	margin: 0 10px;
}

.blocosLiCampanha {
	padding-top: 0;
	margin: 0 85px;
	text-align: center;
}

.blocosLiCampanha .blocosImg {
	margin: -70px auto 0;
	max-width: 179px;
}

.blocoTitulo {
	display: block;
	color: #cf121b;
	font-family: 'savignylight_cond_italic', sans-serif;
	font-size: 40px;
	line-height: 1em;
	margin-top: -10px;
	padding-bottom: 25px;
	letter-spacing: -0.03em;
}

.blocosLiCampanha .blocoTitulo {
	margin-top: 12px;
}

.blocosLiCampanha .blocoTitulo,
.blocosLiCampanha .blocoDescricao {
	text-align: left;
}

.blocoDescricao {
	display: block;
	font-size: 13px;
	line-height: 18px;
	color: #717171;
}

.blocosLinkBt {
	display: block;
	font-size: 13px;
}

.blocosLinkBt {
	display: block;
	border: 2px solid #717171;
	color: #717171;
	padding: 15px;
	text-transform: uppercase;
	font-size: 12px;
}

.blocosLink:hover .blocosLinkBt {
	background: #717171;
	color: #FFF;
}


/* ============
   MEDIA QUERIES
   ============ */
@media only screen and (max-width: 767px) {
	#sessaoBanner {
		margin-top: 0;
	}

	#sessaoBanner .containerGeral {
		padding: 0;
	}

	.blocosLi {
		width: 100%;
		display: block;
		max-width: 250px;
		margin: 30px auto;
		text-align: center;
	}

	.blocosLink {
		padding: 0;
	}
}

